.App {
  text-align: center;
  
}
html {
  background-image: url("./gradient-background-4096x2652-10786.jpg");
  font-size: 300%; /* 62.5% of 16px = 10px */
}
.Myt{
  text-align: center;
  padding: 170px 0 80px;
}
#hello {
  padding: 170px 0;
  border: 3px solid green;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
